.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

p.title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-style: italic;
}

.err {
	color: #8C1515;
}
